body {
    background-color: #000000;
    color: blue;
}

h1 {
    color: white;
    margin-left: 20px ;
    margin-right: 20px;
    font-family: "Dense";
    font-size: 50px;
    margin-top: 50px;
    outline: white dotted thick;
    border: 8px black solid;
}

h2 {
    color: blue;
}

a {
    color: #c7c7c7;
    margin-left: 20px;
    font-family: "Dense";
    font-size: 40px;
    margin-bottom: 100px;
    text-decoration: none;
    outline: white dotted thin;
    border: 8px black solid;
}